body {
  margin: 0;
  height: 100vh;
  background-color: #252525;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: rgb(215, 215, 215);
}

h1 {
  padding-top: 25px;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

h2 {
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }
}

.AI {
  background: linear-gradient(0deg, #589f55, #647c61) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
}

.output {
  font-size: 1.5rem;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 7rem;
  font-weight: 200;
}

@media (max-width: 400px) {
  .output {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
  }
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #589f55;
  box-shadow: 0 0 0 2px #589f55;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #589f55;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #589f55;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #589f55;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.footer-icons {
  color: rgb(215, 215, 215);
  padding: 5px;
}

.footer-icons:hover {
  opacity: 1;
  transform: scale(1.1) translateY(-5%);
}

@media (min-width: 900px) {
  .footer-icons {
    padding: 30px;
  }
}
.line2 {
  border-top: 1px;
  border-color: rgba(212, 212, 212, 0.359);
  margin-top: 20px;
}
.input {
  border: none;
  padding: 1rem;
  margin: -1.5rem;
  margin-right: 15px;
  width: 75vw;
  border-radius: 10px;
  background: #d3d3d3;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 300;
}

@media (max-width: 400px) {
  .input {
    margin-left: 15px;
    padding-right: 45px;
    font-size: 1rem;
  }
}

.input:focus {
  outline-color: #d3d3d3;
  background: #d3d3d3;
  box-shadow: inset 20px 20px 60px #c5c5c52b,
    inset -20px -20px 60px rgba(255, 255, 255, 0.102); /* Fix typo here */
  transition: 0.3s;
  border-radius: 5px;
}

.input-container {
  position: relative;
  padding-bottom: 3rem;
}

@media (max-width: 400px) {
  .input-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
.svg-icon {
  position: absolute;
  margin-right: 5px;
  color: #212121;
  top: 20%; /* Adjust as needed */
  right: 3%; /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
  transition: color 0.4s ease-in-out !important;
}

@media (max-width: 400px) {
  .svg-icon {
    top: 31%;
    left: 87%;
    font-size: small;
  }
}

.svg-icon:hover {
  color: #589f55;
}

::placeholder {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

@media (max-width: 400px) {
  ::placeholder {
    font-size: 0.75rem;
  }
}

textarea {
  resize: none;
  overflow: hidden;
}
